<h1 id="tableLabel">Kevin's Hacker News</h1>

<p>Here is the latest stories from Hacker News.</p>

<p *ngIf="!stories"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="stories">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let story of stories">
      <td><div *ngIf="!story.text"><a href="{{ story.url }}" target="_blank">{{ story.title }}</a></div><div *ngIf="story.text"><strong>{{story.title}}</strong><br /><div [innerHtml]="story.text"></div></div></td>
      <td>{{ story.by }}</td>
    </tr>
  </tbody>
</table>
<button [disabled]="!pageNumber" (click)="previousPage()">Previous</button>
<button (click)="nextPage()">Next</button>
